{% extends './layout.html' %} {% block content %}

<form action='/users' method='POST'>
  <div class='form-group'>
    <label>Username</label>
    <input class='form-control' name='name' placeholder='Enter name for user' />
  </div>
  <button class='btn btn-primary'>Create User</button>
</form>
<ul class='list-group'>
  {% for user in users %}
  <li class='list-group-item'>
    {{ user.name }}
    <form method='POST' action='/users/{{user.id}}?_method=DELETE'>
      <button class='btn btn-danger'>Delete</button>
    </form>
  </li>
  {% endfor %}

</ul>
{% endblock %}
